<h3> Home Page </h3>
<p> This is the Home page of my application, welcome to Marsh Maclennan Associates.
    Marsh McLennan, is a global professional services firm, headquartered in New York City 
    Marsh McLennan is the world’s leading professional services firm in the areas of risk, 
    strategy and people. Our more than 90,000 colleagues advise clients in 130 countries. 
    With annual revenue of over $24 billion, we help corporate and public sector leaders
     navigate an increasingly dynamic environment through four market-leading businesses 
     - Marsh, Guy Carpenter, Mercer and Oliver Wyman. Together, 
    we address the most complex challenges of our time.
</p>

<div>
    <ul>
        <li *ngFor = "let item of ourServices">
        {{ item }}
        </li>
    </ul>
</div>